







#*.bin
#*txt
#INPUT.*
#Project files
#Subversion files
#Tooling
#Visual Studio files
#input file
#input/
#modelstate/
#output file
**/program/
*.DS_Store
*.[Cc]ache
*.[Oo]bj
*.aps
*.bak
*.ilk
*.lib
*.log
*.ncb
*.o
*.pch
*.pyc
*.resharper
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*.xml
*NARR_Morr*
*_i.c
*_p.c
*develop/
*gitignore
.svn
/build.tlaloc
Ankh.NoLoad
DHSVM3.2
[Bb]in
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
gitignore
i#OS junk files
ipch/
obj/
output/
program/
