i#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.o
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.pyc
*.xml
*.bin
*txt
*NARR_Morr*
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

#output file
output/
*develop/
*gitignore
input/
program/
**/program/
modelstate/

#input file
INPUT.*
